# Python kataloglarini e'tiborsiz qoldirish
__pycache__/
venv/

# Django ma'lumotlar bazasi va media fayllarini e'tiborsiz qoldirish
/db.sqlite3
/media/

# Virtual environment o'rnating
#.env

# IDE o'rnating
.vscode/
.idea/
*.iml
# Bu yerda qo'shish mumkin
