<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <title>Home</title>
</head>
<body>
<section>
    <div class="wrap">
        <div class="box">
            <div class="user">
                <a href="./login">Foydalanuvchi</a>
            </div>
            <div class="restaurant">
                <a href="./login_restaurant">Restaurant</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>